$header-font: 'Special Elite', cursive;
$paragraph-font: 'Merriweather', serif;


body{
    margin: 0;
    
    
    

}



.grid-container{
    
    display: grid;
    
    grid-template-rows: minmax(3rem, auto) 100vh minmax(10rem, auto) minmax(700px, auto) minmax(400px, auto) minmax(400px, auto) minmax(425px, auto);
    grid-template-areas: 
    "nav"
    "header"
    "divider"
    "releases"
    "events"
    "shop" 
    "footer";

}

h1{
    font-family: $header-font;
    font-size: 1rem;
    text-align: center;
}

p{
    font-family: $paragraph-font;
    line-height: 1.6;
}

nav{
grid-area: nav;

display: flex;
justify-content: space-between;
align-items: center;

padding: 1rem 1rem;


    h1{
       
        
        margin: 0;
        text-transform: uppercase;
    }
  
  
}
header{
    grid-area: header;
    background-image: url("../img/header.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

        h1{
            font-size: 2rem;
            color: #FFFFFF;
            font-style: normal;   
            margin: 2rem;
        }
        
    
}



.divider{
    grid-area: divider;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 1.5rem;
    }

}
.releases{
    position: relative;
    grid-area: releases;
    display: flex;
    flex-direction: column;
    background-color: #101D42;
    justify-content: start;
    z-index: -2;

  
    
    img{
        padding: 1rem;
        min-width: 300px;

    }

    h1{
        font-size: 2rem;
        margin-top: 4rem;
    }
    h2{
        font-family: $header-font;
        text-align: center;
        margin-top: 1rem;
        margin-block-end: 0;
        color: white;
         
    }
    p{
        margin-block-start: 0;
        padding: 1.5rem;
        font-size: 0.9rem;
        font-weight: 300;
        font-family: $paragraph-font;
        text-align: center;
        color: white;
       
    }
    .pattern{
        position: absolute;
        margin: 0;
        bottom: 0;
        mix-blend-mode: darken;
        min-width: 300px;
        min-height: 200px;
        
        background-image: url("../img/bottles.jpg");
        background-size: cover;
        align-self: flex-end;
        background-repeat: no-repeat;
        z-index: -1;

    }
}

.events{
    grid-area: events;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1{
        font-size: 2rem;
        margin-top: 4rem;
    }
}
.event{
    h1{
        font-size: 1.5rem;
        margin: 0;
    }
    h2{
        font-size: 1rem;
        font-family: $paragraph-font;      
        text-align: center;
    }
    &:nth-last-of-type(1){
        margin-bottom: 4rem;
    }
}

.shop{
    grid-area: shop;
    background-color: #2C1E16;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 2rem;
        margin-top: 4rem;
        color: white;
    }
    p{
        text-align: center;
        color: white;
        font-size: 0.9rem;
        font-weight: 300;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0;
    }
    img{
        margin: 0 auto;
    }
   .shop-button{
       display: flex;
       min-width: 75px;
       min-height: 30px;
       justify-content: center;
       align-items: center;
       outline-color: #8FC7DB;
       outline-width: 2px;
       outline-style: solid;
       margin: 1rem;

        a{
            color:#8FC7DB;
            text-decoration: none;
        }
   }
   .shop-grid{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
   }
}

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
    a{
        text-decoration: none;
        font-family: $paragraph-font;
        color: black;
        font-size: 1rem;
        margin: 0;
        margin-top: 0.3rem;
        
    }

    article{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-top: 1.5rem;

    h1{
       font-size: 1.2rem;
       margin-left: 0;
       margin-bottom: 0;
       text-align: left;
    }

    h2{
        font-family: $paragraph-font;
        font-size: 1rem;
        margin: 0;
        margin-top: 0.3rem;
        font-weight: 300;

    }
        
    }
    article:nth-last-child(1){
        h1{
            font-size: 1.5rem;
            
        }
    }
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

        /* The navigation links inside the overlay */
        a{
            padding: 8px;
            text-decoration: none;
            font-family: $paragraph-font;
            font-size: 36px;
            color: #818181;
            display: block; /* Display block instead of inline */
            transition: 0.3s; /* Transition effects on hover (color) */
        }
        
        /* When you mouse over the navigation links, change their color */
        a:hover, a:focus {
            color: #f1f1f1;
        }
        
        /* Position the close button (top right corner) */
        .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
 
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  @media screen and (min-width: 1000px){
    header{
        background-image: url("../img/header_wide.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

    }


    .releases{
        

        .beer-grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "Beer1"
            "Beer2"
            "Beer3";
            
        }
      
        article{
            display: flex;
            flex-direction: column;
            justify-content: center;

            img{
                object-fit: cover;
            }
        }
        
       
    }
    
  }
  @media screen and (max-width: 1000px){

    
    .releases{
        
        .beer1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            

        }

      .beer2 {
           display: none;
       }
       .beer3 {
        display: none;
    }
    }

    .shop-grid{
        margin: 1rem;
        grid-template-columns: auto 0px 0px !important;
        grid-template-rows: auto auto;
        img:nth-last-of-type(-n+2){
            display: none;
        }
    }
    
  }

