$header-font: 'Special Elite', cursive;
$paragraph-font: 'Merriweather', serif;


body{
    margin: 0;
    width: 100vw;
    
    

}


.grid-container{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(3rem, auto) 100vh minmax(10rem, auto) minmax(700px, auto) minmax(700px, auto);
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "divider divider divider"
    "releases releases releases"
    "events events events";

}

h1{
    font-family: $header-font;
    font-size: 1rem;
    text-align: center;
}

p{
    font-family: $paragraph-font;
    
}

nav{
grid-area: nav;

display: flex;
justify-content: space-around;
align-items: center;

padding: 1rem 1rem;


    h1{
       
        
        margin: 0;
        text-transform: uppercase;
    }
  
  
}
header{
    grid-area: header;
    background-color: brown;

    h1{
        font-size: 2rem;
    }
    
}



.divider{
    grid-area: divider;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 1.5rem;
    }

}
.releases{
    grid-area: releases;
    display: flex;
    flex-direction: column;
    background-color: #101D42;
    justify-content: space-evenly;

    img{
        padding: 1rem;
        min-width: 300px;

    }

    h1{
        font-size: 2rem;
        margin-top: 4rem;
    }
    p{
        padding: 1rem;
        font-weight: light;
        font-family: $paragraph-font;
        text-align: center;
        color: white;
    }
    .pattern{
        
        mix-blend-mode: darken;
        min-width: 300px;
        min-height: 350px;
        background-image: url("/img/bottles.jpg");
        align-self: flex-end;
        background-repeat: no-repeat;
    }
}

.events{
    grid-area: events;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1{
        font-size: 2rem;
        margin-top: 4rem;
    }
}
.event{
    h1{
        font-size: 1.5rem;
        margin: 0;
    }
    h2{
        font-size: 1rem;
        font-family: $paragraph-font;      
        text-align: center;
    }
    &:nth-last-of-type(1){
        margin-bottom: 4rem;
    }
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

        /* The navigation links inside the overlay */
        a{
            padding: 8px;
            text-decoration: none;
            font-family: $paragraph-font;
            font-size: 36px;
            color: #818181;
            display: block; /* Display block instead of inline */
            transition: 0.3s; /* Transition effects on hover (color) */
        }
        
        /* When you mouse over the navigation links, change their color */
        a:hover, a:focus {
            color: #f1f1f1;
        }
        
        /* Position the close button (top right corner) */
        .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
 
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }